.comboboxContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  // max-width: 300px;
  max-width: calc(100% - 22px);
  margin: 0 auto;
  position: relative;
}

.comboboxInputContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  // padding: 5px;
  height: var(--space-6);
  padding-left: var(--space-3);
  // padding-right: var(--space-3);
  background-color: #fff;
}

.comboboxInput {
  flex-grow: 1;
  border: none;
  outline: none;
  gap: calc(var(--space-1) * 1.5);
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-2);
  font-family: var(--font-family-sans);
  color: var(--gray-12);
  background-color: transparent;
}
.comboboxButton,
.comboboxClearButton {
  background: none;
  border: none;
  cursor: pointer;
  padding-right: var(--space-3);
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  // opacity: 0.8;
  outline: none;

  &:hover {
    color: #000;
  }
  &:focus,
  &:active,
  &:focus-visible {
    outline: none;
  }
}
.comboboxClearButton {
  opacity: 0.8;
}
.comboboxClearButtonIcon,
.comboboxButtonIcon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.comboboxList {
  display: none;
  border: 1px solid #ccc;
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0;
  border-radius: 4px;
  background-color: #fff;
  max-height: 350px;
  overflow-y: auto;
  // position: absolute;
  width: 100%;
  z-index: 1000;
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-spacing-2);
}

.comboboxList.comboboxListOpen {
  display: block;
}

.comboboxItem {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: var(--font-family-sans);
  color: var(--gray-12);
}

.comboboxItem:hover,
.comboboxItemHighlighted {
  background-color: #bde4ff;
}

.comboboxItemImage {
  width: 60px;
  margin-right: 10px;
  object-fit: contain;

  background-color: #eee;
  // border-radius: 50%;
}
