.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  display: flex;
  overflow: hidden; /* Prevents double scrollbars */
}

.workspace {
  flex: 1;
  overflow-y: auto; /* Allows scrolling in main content area */
  background-color: var(--gray-2);
}
